<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @strap.name %>
</p>

<%= link_to 'Edit', edit_strap_path(@strap),:class => "btn btn-primary"  %> |
<%= link_to 'Back', straps_path,:class => "btn btn-primary"  %>
