<div class="row">
	<div class="col-sm-6">	
		<%= link_to current_cart_items_count > 0 ? "Carts&nbsp;<span class='badge'>#{current_cart_items_count}</span>".html_safe : "Carts", carts_path,:target => "_blank",:class => "btn btn-primary" %>		
	</div>	
	<div class="col-sm-6">
		<div class="notice" id="cart_notice">
			<%= msg unless msg.blank? %>
		</div>
	</div>
</div>