<h1>Editing Accessory</h1>

<%= render 'form', accessory: @accessory %>

<%= link_to 'Show', @accessory,:class => "btn btn-primary" %>  |
<%= link_to 'Back', accessories_path ,:class => "btn btn-primary" %>
